<% layout('layouts/boilerplate')%>

    <div class="row">
        <h1 class="text-center">Edit Campuseats</h1>
        <div class="col-6 offset-3">
            <form action="/campuseats/<%=campuseats._id%>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campuseats[title]" value="<%=campuseats.title%>" required>
                    <div class="valid-feedback">Looks Good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campuseats[location]" value="<%=campuseats.location%>" required>
                    <div class="valid-feedback">Looks Good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" id="image" name="campuseats[image]" value="<%=campuseats.image%>" required>
                    <div class="valid-feedback">Looks Good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Campuseats Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price"placeholder="0.00" aria-label="Username" aria-describedby="price-label" name="campuseats[price]" value="<%=campuseats.price%>" required>
                    <div class="valid-feedback">Looks Good!</div>
                  </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" id="description" name="campuseats[description]" required><%= campuseats.description %></textarea>
                    <div class="valid-feedback">Looks Good!</div>
                  </div>
                  
                <div class="mb-3">
                <button class="btn-btn-info">Update Campuseats</button>
            </div>
            </form>
            <a href="/campuseats/<%= campuseats._id%>">Back to Campuseats</a>
        </div>
    </div>
    