<% layout('layouts/boilerplate')%>
    <h1>ALL campuseats</h1>
   <div>
    <a href="/campuseats/new">Add Campuseats</a>
   </div>
    
        <% for (let campuseat of campuseats) {%>
         <div class="card" mb-3>
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" alt="" src="<%=campuseat.image%>">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"> <%= campuseat.title %></h5>
                        <p class="card-text"><%= campuseat.description %></p>
                        <p class="card-text">
                            <small class="text-muted"><%= campuseat.location %></small>
                            </p>
                            <a class="btn btn-primary" href="/campuseats/<%=campuseat._id%>">View <%= campuseat.title%></a>
                    </div>
                </div>
            </div>
         </div>
          <% } %>
  
