<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-6">
        <div class="card mb-3" >
            <img src="<%= campuseats.image %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= campuseats.title %></h5>
              <p class="card-text"><%= campuseats.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= campuseats.location %></li>
                <li class="list-group-item">Submitted by <%= campuseats.owner ? campuseats.owner.username : "unknown" %></li>
                <li class="list-group-item"><%= campuseats.price%></li>
              </ul>
              <% if(currentUser && campuseats.owner && campuseats.owner.equals(currentUser._id)){ %>

              <div class="card-body">
                <a class="card-link btn btn-warning" href="/campuseats/<%= campuseats._id%>/edit">Edit</a>
                <form class="d-inline" action="/campuseats/<%=campuseats._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form> 
              </div>
              <% } %>
              <div class="card-footer text-body-secondary">
                2 days ago
              </div>
          </div>
          
</div>
<div class="col-6">
  <h2>Leave A Review</h2>
          <form action="/campuseats/<%= campuseats._id%>/reviews" method="POST" novalidate class="validated-form">
            <div class=" mb-3">
              <label class="form-label" for="rating" required>Ratings</label>
              <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
            </div>
            <div class="mb-3">
              <label class="form-label" for="body">Review</label>
              <textarea class="form-control" type="text" name="review[body]" id="body" cols="30" rows="3" required></textarea>
              <div class="valid-feedback">Looks Good!</div>
            </div>
            <button class="btn btn-success">Submit</button>
          </form>
          <% for (let review of campuseats.reviews) { %>
            <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Rating <%= review.rating%></h5>
            <p class="card-text">Review <%= review.body%></p>
            <form action="/campuseats/<%=campuseats._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
              <button class="btn btn-sm btn-danger">Delete</button>
            </form>
            </div>
          </div> 
          <% } %>
</div>
</div>